.header {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.header-logo {
  height: 60px;
}
