.App {
  text-align: center;
}

.App-header {
  position: fixed;
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.App-logo {
  height: 60px;
}

.App-content {
  margin: 20px;
}
